<div class="container">
    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div>
            <h3 class="text-center">Enter Subscription Plan Details</h3>
        </div>
        
        <br>
        <div class="form-group">
            <label>PLAN NAME</label>  
            <input class="form-control form-control-lg" placeholder="Plan Name"
            name="tierName" #tierName="ngModel" [(ngModel)]="service.updateTier.tierName" value=" "required>    
        </div>
        <br>
        <div class="form-group">
            <label>PLAN AMOUNT</label>  
            <input class="form-control form-control-lg" placeholder="Plan Amount"
            name="price" #price="ngModel" [(ngModel)]="service.updateTier.price" required>    
        </div>
        <br>
        <div class="form-group">
            <label>PLAN DURTION</label>  
            <input class="form-control form-control-lg" placeholder="PlanDuration"
            name="duration" #duaration="ngModel" [(ngModel)]="service.updateTier.duration" required>    
        </div>
        <br> 
        <br>
        <div class="row">
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-info btn-lg btn-block" [disabled]="form.invalid" >Submit</button>
        </div>
        <div class=" col-md-2">
            <button type="button" class="btn btn-info btn-lg btn-block"><a href="admin/subscription">Cancel</a></button>
        </div>
    </div>
    </form>
</div>
