<body>

    <nav class="navbar navbar-expand-lg">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"

                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"

                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">

                        <a class="nav-link active" style="color: white" aria-current="page" href="/web-page">Home</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link active" style="color: white" aria-current="page" href="/user-profile">Profile</a>

                    </li>
                    <li class="nav-item" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">

                        <a class="nav-link active" style="color: white;" aria-current="page" href="/login" (click)="logout()">Logout</a>
            
                      </li>
            
                    </ul>
            
                    <ul class="navbar-nav " style="margin-left: 180px;">
            
                      <li class="nav-item" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
            
                        <a class="nav-link active" style="color: white;" aria-current="page">
            
                          <i class="fa fa-bolt" aria-hidden="true" style="font-size: 25px;"></i> Premium Video </a>
            
                      </li>

                

                </ul>

            </div>

        </div>

    </nav>

    <h2 style="color: white; text-align: center; margin-top: 50px;">Buy  your exclusive plan here</h2>

    <div class="container">

        <div class="sub-container">

            <div class="box1 featured" data-aos="fade-right">

                <h3>{{subTiers[0].tierName}}</h3>

                <h4>₹{{subTiers[0].price}}&nbsp;<span>per month</span></h4>

                <br />

                <ul>

                    <li><i class="bx bx-check"></i> Duration:{{subTiers[0].duration}} Days</li>

                    <li><i class="bx bx-check"></i> Video Quality: Good</li>

                    <li><i class="bx bx-check"></i> Resolution: 480p</li>

                    <li><i class="bx bx-check"></i> Devices you can use to watch:</li>

                    <ul class="devices">

                        <li>Mobile</li>

                        <li>Tablet</li>

                        <li>TV</li>

                        <li>Computer</li>

                    </ul>

                </ul>

                <button (click)="sendData(subTiers[0].subscriptionTierId)" class="subscribe-button">Subscribe</button>

            </div>

        </div>

        <div class="sub-container">




            <div class="box3 featured" data-aos="fade-left">

     

              <h3>{{subTiers[1].tierName}}</h3>

     

              <h4>₹{{subTiers[1].price}}&nbsp;<span>per month</span></h4>

     

              <br />

     

              <ul>

                <li><i class="bx bx-check"></i> Duration:{{subTiers[1].duration}} Days</li>

                <li><i class="bx bx-check"></i> Video Quality: Better</li>

     

                <li><i class="bx bx-check"></i> Resolution: 1080p</li>

     

                <li><i class="bx bx-check"></i> Devices you can use to watch:</li>

                <ul class="devices">

                  <li>Mobile</li>

                  <li>Tablet</li>

                    <li>TV</li>

                   <li>Computer</li>

                </ul>

              </ul>            

              <button (click)="sendData(subTiers[1].subscriptionTierId)"class="subscribe-button">Subscribe</button>

            </div>

          </div>

          <div class="sub-container">




            <div class="box2 featured" data-aos="fade-up">

     

              <h3>{{subTiers[2].tierName}}</h3>

     

              <h4>₹{{subTiers[2].price}}&nbsp;<span>per month</span></h4>

     

              <br />

     

              <ul>

                <li><i class="bx bx-check"></i> Duration:{{subTiers[2].duration}} Days</li>

                <li><i class="bx bx-check"></i> Video Quality: Best</li>

     

                <li><i class="bx bx-check"></i> Resolution: 4K+HDR</li>

     

                <li><i class="bx bx-check"></i> Devices you can use to watch:</li>

     

                <ul class="devices">

     

                  <li>Mobile</li>

     

                  <li>Tablet</li>

     

                  <li>TV</li>

     

                  <li>Computer</li>

     

                </ul>

     

              </ul>      

              <button (click)="sendData(subTiers[2].subscriptionTierId)" class="subscribe-button">Subscribe</button>

     

            </div>

     

          </div>

    </div>

   

           

           

       




   




    <div class="footer">




        <footer>




            <h4 style="color: white">Help & Support</h4>




            <ul class="no-bullets">




                <li style="color: white">FAQ</li>




                <li style="color: white">Contact Us</li>




                <li style="color: white">Terms of Service</li>




                <li style="color: white">Privacy Policy</li>




            </ul>




            <h4 style="color: white">Connect with Us</h4>




            <ul class="no-bullets">




                <li style="color: white">




                    <i class="fa fa-facebook-official" style="margin-left: 7px; color: white" aria-hidden="true"></i>




                    Facebook




                </li>




                <li style="color: white">




                    <i class="fa fa-twitter-square" style="margin-left: 7px; color: white"

                        aria-hidden="true"></i>Twitter




                </li>




                <li style="color: white">




                    <i class="fa fa-instagram" style="margin-left: 7px; color: white" aria-hidden="true"></i>Instagram




                </li>




            </ul>




            <div class="row">




                <div class="col-md">




                    <p class="text-center" style="color: white">




                        &copy; 2023 Your OTT Platform. All rights reserved.




                    </p>




                </div>




            </div>




        </footer>




    </div>




</body>