.navbar {

    background-image: linear-gradient(to bottom, #305bcb, #0072d3, #0086d5, #0098d2, #3ea8cd);

    height: 50px;

}

* {




    margin: 0;




    padding: 0;




    box-sizing: border-box;




    font-family: 'Montserrat', sans-serif;

   

    padding-left: 10px;

    padding-right: 10px;

    padding-top: 2px;

    padding-bottom: 2px;




}





.container{

    margin-left: 400px;
    


}

.payment{
    background-image: linear-gradient(to right top,#121315,#161719,#1a1b1e, #1e1f22, #222327);
    background-repeat: no-repeat;
    background-size: cover;
    

}


body {

 background-image: linear-gradient(to right top,#121315,#161719,#1a1b1e, #1e1f22, #222327);
background-repeat: no-repeat;
background-size: cover;

}










.container .h8 {




    font-size: 30px;




    font-weight: 800;




    text-align: center;




}







.btn.btn-primary {




    width: 100%;




    height: 70px;




    display: flex;




    align-items: center;




    justify-content: space-between;




    padding: 0 15px;




    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);




    border: none;




    transition: 0.5s;




    background-size: 200% auto;







}








.btn.btn.btn-primary:hover {




    background-position: right center;




    color: #fff;




    text-decoration: none;




}









.btn.btn-primary:hover .fas.fa-arrow-right {




    transform: translate(15px);




    transition: transform 0.2s ease-in;




}







.form-control {




    color: white;




    background-color: #223C60;




    border: 2px solid transparent;




    height: 60px;




    padding-left: 20px;




    vertical-align: middle;




}




.btn{

    padding-top: 5px;

    padding-bottom: 5px;

    padding-left: 10px;

    padding-right: 10px;

}







.form-control:focus {




    color: white;




    background-color: #0C4160;




    border: 2px solid #2d4dda;




    box-shadow: none;




}







.text {




    font-size: 14px;




    font-weight: 600;




}







::placeholder {




    font-size: 14px;




    font-weight: 600;




}

footer {

    background-image: linear-gradient(to bottom, #305bcb, #0072d3, #0086d5, #0098d2, #3ea8cd);

    margin-left: -10px;

    margin-top: 180px;

    color: #fff;

    padding: 30px;

    text-align: left;

    padding-top: 60px;

}




.footer-links a {

    color: #fff;

    text-decoration: none;

}

.footer-text {

    font-size: 14px;

    margin-top: 40px;

    float: right;

}

ul.no-bullets {

    list-style-type: none;

}