th,td{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    margin-left: 130px;
    margin-top: 50px;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    margin-left: 250px;
}
.row{
    margin-left: 70px;
}
.bar{
    height: 450px;
    width: 450px;
}
.pie{
    height: 300px;
    width: 300px;
    margin-left: 80px;
}