* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}




body {

  background-image: linear-gradient(to right top, #121315, #161719, #1a1b1e, #1e1f22, #222327);

  background-repeat: no-repeat;

  background-size: cover;

}




.navbar {

  background-image: linear-gradient(to bottom, #305bcb, #0072d3, #0086d5, #0098d2, #3ea8cd);

  height: 40px;

}








h1 {

  font-size: 32px;

  margin-bottom: 10px;
  margin-left:350px;
}

/* Styling for the welcome message */

.welcome {

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 30px;

  font-weight: normal;

  color: white;

  text-align: center;

  margin-top: 80px;

  margin-bottom: 20px;

}






.btn {

  display: inline-block;

  padding: 10px 20px;

  background-color: #1919ee;

  color: #fff;

  text-decoration: none;

  text-align: center;

  border-radius: 4px;

  font-size: 16px;

  margin-top: 20px;

}




.btn:hover {

  background-color: #28228d;

}




.btn:active {

  background-color: #39219a;

}

/* CSS for the featured services section */

.featured-services {

  padding-top: 100px;

  display: flex;

  gap: 20px;

  margin-bottom: 20px;

  justify-content: space-between;

  align-items: center;

  padding-inline: 60px;

  border-top-width: 20px;

}




.featured-services2 {

  display: flex;

  gap: 20px;

  margin-bottom: 20px;

  justify-content: space-between;

  align-items: center;

  padding-inline: 60px;

  border-top-width: 20px;

}




/* CSS for the service cards */

.service-card {

  width: 350px;

  height: 300px;

  border-radius: 8px;

  padding-left: 40px;

  padding-top: 10px;

  padding-bottom: 10px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}




/* Add hover effect to the service cards */

.service-card:hover {

  transform: scale(1.1);

  box-shadow: 0 0 10px rgba(25, 142, 231, 0.3);
  
}




.my-button {

  background-color: #256df3;

  margin-left: 60px;

  margin-top: 10px;

  color: white;

  padding: 10px 20px;

  border: black;

  border-radius: 6px;

  transition: background-color 0.3s;

}




.my-button:hover {

  background-color: #3a30b9;

}




footer {

  background-image: linear-gradient(to bottom, #305bcb, #0072d3, #0086d5, #0098d2, #3ea8cd);

  margin-left: -10px;

  margin-top: 180px;

  color: #fff;

  padding: 30px;

  text-align: left;

  padding-top: 60px;

}




.footer-links a {

  color: #fff;

  text-decoration: none;

}




.footer-text {

  font-size: 14px;

  margin-top: 40px;

  float: right;

}




ul.no-bullets {

  list-style-type: none;

}




/* Styling for the form container */

#searchForm {

  display: flex;

  align-items: flex-start;

}




/* Styling for the input field */

#searchText {

  flex: 1;

  margin-right: 15px;

}




/* Styling for the search button */

.btn-danger {

  /* Add your custom styles for the button */

  /* For example: */

  padding: 5px 16px;

  background-color: rgb(51, 16, 178);

  color: white;

  border: none;

  height: 25px;

  border-radius: 4px;

  display: flex;

  box-shadow: #e2e9ec;

  align-items: center;

  margin-top: auto;

}

.hero {

  position: relative;

}

#hero_head h1 {

  color: white;

  font-size: 100px;

  font-weight: bold;

  font-family: "Times New Roman", Times, serif;

  position: absolute;

  margin-top: 300px;
 margin-right: 350px;

  text-shadow: 3px 1px 3px;
}

#heroImg {

  width: 100%;

  height: 500px;

}

.d-flex {

  display: flex;

  margin-right: 680px;

}




.contact-section {

  max-width: 800px;

  border-color: #256df3;

  border-style: solid;

  margin-left: 400px;

  padding: 20px;

  background-color: black;

  border-radius: 4px;

}




.contact-section h2 {

  color: white;

  font-size: 24px;

  margin-bottom: 10px;

}




.contact-section p {

  color: white;

  font-size: 16px;

  line-height: 1.5;

}




.contact-section .contact-info {

  margin-top: 20px;

  color: white;




}




.contact-section .contact-info p {

  margin-bottom: 10px;

  color: white;




}




.contact-section .contact-info i {

  margin-right: 10px;

  color: white;




}




.about-section {

  max-width: 800px;

  margin-left: 100px;

  margin-bottom: 80px;

  margin-top: 80px;

  padding: 20px;

  border-style: solid;

  border-color: #256df3;

  background-color: #0a0808;

  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}




.about-section h2 {

  font-size: 24px;

  color: white;

  margin-bottom: 10px;

}




.about-section p {

  color: white;

  font-size: 16px;

  line-height: 1.5;

}