th,td{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.table{
    margin-left: 130px;
    margin-top: 30px;
}
h2{
    text-align: center;
    margin-left: 150px;
}
p{
    text-align: center;
}
.btn-success{
    margin-left: 820px;
}
#back{
    margin-left: 330px;
}
#back1{
    margin-left: 450px;
    margin-top: 20px;
}
h3{
    margin-left: 400px;
    margin-top:200px;
}