th,td{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    margin-left: 130px;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-left: 150px;
}
p{
    text-align: center;
}
#back{
    margin-left: 170px;
}
h3{
    margin-left: 80px;
    margin-top:200px;
}