
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body bg-c-blue text-white mb-3">
                <label>Total Users</label>
                <h1>{{totalUsers}}</h1>
                <fa-icon class="a" [icon]="faUser"></fa-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body bg-c-green text-white mb-3">
                <label>Total Sercvies</label>
                <h1>{{totalServices}}</h1>
                <fa-icon class="a" [icon]="faService"></fa-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body bg-c-yellow text-white mb-3">
                <label>Total Sub-Services</label>
                <h1>{{totalSubServices}}</h1>
                <fa-icon class="a" [icon]="faService"></fa-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body bg-c-pink text-white mb-3">
                <label>Total Subscriptions</label>
                <h1>{{totalUserSubscription}}</h1>
                <fa-icon class="a" [icon]="faService"></fa-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body bg-c-blue text-white mb-3">
                <label>Total User Subscribed</label>
                <h1>{{totalSubscription}}</h1>
                <fa-icon class="a" [icon]="faUser"></fa-icon>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body bg-c-red text-white mb-3">
                <label>Total Users Not Subscribed</label>
                <h1>{{totalUserNotSubscribed}}</h1>
                <fa-icon class="a" [icon]="faService"></fa-icon>
            </div>
        </div>
    </div>
</div>